
.container{
    display: flex;
    width:1065px;
    flex-wrap: wrap;
    gap: 30px;
    
    
}

.button_1{
    font-family: '--font-montserrat';
    height: 160px;
    display:flex;
    gap: 10px;
    margin-left: 270px;
    border: 1px solid #8051F8;
    width: 501px;
    padding: 35px 30px 35px 30px;
    border-radius: 15px;
}
.button_2{
    height: 160px;
    display:flex;
    gap: 10px;
    border: 1px solid #8051F8;
    width: 401px;
    padding: 35px 30px 35px 30px;
    border-radius: 15px;
}
.button_3{
    height: 160px;
    display:flex;   
     gap: 10px;
    border: 1px solid #8051F8;
    width: 300px;
    padding: 35px 30px 35px 30px;
    border-radius: 15px;
} 
.button_4{
    height: 160px;
    display:flex;
    gap: 10px;
    border: 1px solid #8051F8;
    width: 501px;
    padding: 35px 30px 35px 30px;
    border-radius: 15px;
}
