.container{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.butto_1{
    
    width: 501px;
    border: 1px solid red;
    padding: 35px 30px 35px 30px;
    border-radius: 15px;
}
.butto_2{

    width: 401px;
    border: 1px solid red;
    padding: 35px 30px 35px 30px;
    border-radius: 15px;
}
.butto_3{
    width: 300px;
    border: 1px solid red;
    padding: 35px 30px 35px 30px;
    border-radius: 15px;
}
