.container{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.butto_1{
    border: 1px solid #8051F8;
    width: 501px;
    padding: 35px 30px 35px 30px;
    border-radius: 15px;
}
.butto_2{
    border: 1px solid #8051F8;
    width: 401px;
  
    padding: 35px 30px 35px 30px;
    border-radius: 15px;
}
.butto_3{
    border: 1px solid #8051F8;
    width: 300px;
    padding: 35px 30px 35px 30px;
    border-radius: 15px;
}
